@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


:root {
  --primary-color: #dd730a;
  --secondary-color: #3A9B3D;
  --background-color: #F7FFF7;
  --text-color: #373636;
  --text-colour: #fffced;
  --font-dmsans: 'DM Sans', sans-serif;
  --font-barlow: 'Barlow Semi Condensed', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
  --font-bebas: 'Bebas Neue', cursive;
  --font-stack:'Stack Sans Text',sans-serif;
  --font-agdasima:"Agdasima";
  --font-zalando:"Zalando Sans SemiExpanded";
  --font-archivo:"Archivo";
}


html, body {
  font-family: var(--font-archivo);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, li, div, span {
    overflow-wrap: break-word;
}


.card{
  clip-path: path('M14 0H286C299.255 0 310 10.7452 310 24V286C310 299.255 299.255 310 286 310H14C0.744769 310 0 299.255 0 286V24C0 10.7452 0.744769 0 14 0Z');
}

.archivo{
  font-family: var(--font-archivo);
}

.barlow {
  font-family: var(--font-barlow);
}
.oswald {
  font-family: var(--font-oswald);
}

.zalando{
  font-family: var(--font-zalando);
}

.bebas {
  font-family: var(--font-bebas);
}

.stack{
  font-family: var(--font-stack);
}
.agdasima{
  font-family: var(--font-agdasima);
}
  
@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-22px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .text-orange {
    color: var(--primary-color);
  }
  .bg-orange {
    background-color: var(--primary-color);
  }
  .text-green {
    color: var(--secondary-color);
  }
  .bg-green {
    background-color: var(--secondary-color);
  }
  .text-grey {
    color: var(--text-color);
  }
  .white {
    color: var(--text-colour);
  }
}

@layer components {
  .btn-primary {
    @apply  font-bold py-2 px-4 rounded;
  }
  
.flex-center{
  @apply flex items-center justify-center;
}

.Section_title {
  font-family: var(--font-agdasima);
  @apply lg:text-[48px] text-[32px] leading-[32px] max-w-[740px] lg:leading-[48px] uppercase font-semibold text-[var(--primary-color)];
}
.overlay{
  @apply absolute rounded-[14px] inset-0 bg-[var(--secondary-color)] opacity-20 mix-blend-multiply;
}


.noise{
  @apply absolute rounded-[14px] z-0 inset-0 mix-blend-overlay opacity-30  size-full object-cover;
}
 
.Section_bg{
  @apply bg-[#f8ffef] min-h-screen overflow-hidden;
}

.Counter_title{
  font-family: var(--font-barlow);
  @apply lg:w-[820px] uppercase font-light text-[32px] leading-[32px]  text-[var(--text-color)]  lg:text-[38px] lg:leading-[38px] ;
}

.Page_title{
  font-family: var(--font-oswald);
  @apply lg:text-[22px] text-[18px] uppercase  text-[var(--primary-color)];
}
.Card_heading{
  font-family: var(--font-barlow);
  @apply hover:text-[var(--secondary-color)] duration-490 cursor-pointer font-semibold text-[#fffced] lg:text-[var(--text-color)] lg:leading-[24px]  leading-[26px] text-[24px] uppercase lg:text-[24px];
}

.text_para{
  @apply lg:text-[18px] font-light text-[var(--text-color)] text-[16px] lg:w-[600px] leading-relaxed;
}

.Section_wrapper{
  @apply lg:py-12 py-6 mx-auto px-6 lg:px-18;
}

.Grid_4{
  @apply lg:mt-16 mt-12 grid grid-cols-1 lg:grid-cols-4 gap-8;
}

}